<div class="container">
  <div class="row col-6">
    <h1>Compendium - URL Shortener</h1>
  </div>
  <div class="row">
    <div class="input-group mb-3">
      <input type="text" class="form-control">
    </div>
  </div>

  <div class="row">
    <button type="button" class="btn btn-dark">Get your short URL!</button>
  </div>
</div>